<?xml version="1.0"?>
<config>
    <modules>
        <Eataly_CreditmemoWorkflow>
            <version>1.0.0</version>
        </Eataly_CreditmemoWorkflow>
    </modules>
    <global>
        <blocks>
            <eataly_creditmemoworkflow>
                <class>Eataly_CreditmemoWorkflow_Block</class>
            </eataly_creditmemoworkflow>
            <adminhtml>
                <rewrite>
                    <sales_order_creditmemo_view>Eataly_CreditmemoWorkflow_Block_Order_Creditmemo_View</sales_order_creditmemo_view>
                    <sales_order_creditmemo_totals>Eataly_CreditmemoWorkflow_Block_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
                    <sales_creditmemo_grid>Eataly_CreditmemoWorkflow_Block_Creditmemo_Grid</sales_creditmemo_grid>
                    <sales_order_view_tab_creditmemos>Eataly_CreditmemoWorkflow_Block_Order_View_Tab_Creditmemos</sales_order_view_tab_creditmemos>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <eataly_creditmemoworkflow>
                <class>Eataly_CreditmemoWorkflow_Helper</class>
            </eataly_creditmemoworkflow>
        </helpers>
        <models>
            <eataly_creditmemoworkflow>
                <class>Eataly_CreditmemoWorkflow_Model</class>
            </eataly_creditmemoworkflow>
            <sales>
                <rewrite>
                    <order_creditmemo>Eataly_CreditmemoWorkflow_Model_Order_Creditmemo</order_creditmemo>
                </rewrite>
            </sales>
        </models>
        <resources>
            <eataly_creditmemoworkflow_setup>
                <setup>
                    <module>Eataly_CreditmemoWorkflow</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </eataly_creditmemoworkflow_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Eataly_CreditmemoWorkflow before="Mage_Adminhtml">Eataly_CreditmemoWorkflow_Adminhtml</Eataly_CreditmemoWorkflow>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
